
 <script src="/socket.io/socket.io.js"></script>
<script>
        function showParagraph(data){
                return document.getElementById('p').innerHTML=data
        }

        function load(){
                console.log('loaded')
                socket.on('data',function(data){
                        console.log(data)
                        showParagraph(data)
                })
                socket.emit('data')

        }
        window.addEventListener("load",load);
        var socket = io();
</script>
<h1>BlinkLed</h1>

<p id='p'></p>
<a href='/'>Back</a>